* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff8f0;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #3d1902;
    color: white;
    position: relative;
}

.logo span {
    color: #ffe600;
}

.nav_links {
    display: flex;
    gap: 1.5rem;
}

.nav_links li {
    list-style: none;
}

.nav_links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav_links :hover{
    color: #ffe600;
    cursor: pointer;
}

#menu-btn {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    #menu-btn {
        display: block;
    }
.nav_links {
        display: none;
        flex-direction: column;
        background: #351602;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 1rem;
        border-radius: 8px;
    }
.nav_links.open {
        display: flex;
    }
}
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
}

.hero-content{
    max-width: 400px;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fc6c06;
}

.hero-content p {
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    background: #e75e03;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s ease;
}
.btn:hover {
    background: #301807;
}

.hero img {
    width: 500px;
    max-width: 100%;
}

